<h1> Teste do show </h1>

<div class="container">
<div class="product-details">
 <div class="row">
  <div class="col-xs-12 col-sm-6 col-md-4">
    <% if @product.photos? %>
      <%= cl_image_tag @product.photos.first.path, width: 350, height: 300, crop: :fill, class: 'main-product-image' %>
      <% end %>
      <% @product.photos.each do |photo| %>
        <%= cl_image_tag photo.path, width: 113, height: 100, crop: :fill%>
      <%end%>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4">
    <h1><%= @product.name %></h1>
    <h4>Categoria:</h4><h5><%= @product.category %></h5>
    <h4>Venda por:</h4><h5><%= @product.unit %></h5>
    <h4>Quantidade mínima:</h4><h5><%= @product.minimum_per_unit %><%=@product.unit %></h5>
    <h4>Capacidade de produção diária:</h4><h5><%= @product.maximum_quantity%> <%=@product.unit %></h5>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4">
    <h1><%= @product.price %></h1>
        </div>
 </div>
</div>

<div class="product-details">
 <div class="row">
