<div class="row">
  <div class="message">
  <% photo = item.product.photos.first %>
  <% if photo %>
    <%= cl_image_tag(photo.path, class: "avatar-large") %>
  <% end %>
  <div class="message-body">
    <p><strong><%=item.product.category%></strong></p>
    <h6><%=item.product.name%></h6>
  </div>
  <div class="message-body">
    <p><strong>Unidade</strong></p>
    <h6><%=item.quantity%> <%=item.product.unity%></h6>
  </div>
  <div class="message-body">
    <p><strong>Preço</strong></p>
    <h6><%=number_to_currency item.product.price * item.quantity%></h6>
  </div>
</div>
</div>
<div class"card">
<button> Finalizar</button>
</div>






