<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h1>Carrinho</h1>
         <%= simple_form_for(@cart) do |f| %>
         <%= f.input :delivery_date %>
        <%= f.input :delivery_address, placeholder: "Endereço de entrega" %>
        <%= f.input :delivery_city, placeholder: "São Paulo-SP" %>
        <%= f.input :delivery_zipcode %>
        <%= f.input :payment_method, collection: ["Boleto", "Cartão de Crédito", "Paypal"]  %>
        <%= f.button :submit, class: "btn btn-primary"  %>
      <% end %>

    </div>
  </div>
</div>
