<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h1>Crie seu Produto:</h1>
         <%= simple_form_for(@product) do |f| %>
        <%= f.input :name, placeholder: "Digite o Nome do Seu Produto:" %>
        <%= f.input :category, collection: ["Vegetais", "Mercearia", "Bebidas"]  %>
        <%= f.input :price, placeholder: "00.00" %>
        <%= f.input :unity, placeholder: "Digite a Unidade do Seu Produto:" %>
        <%= f.button :submit, class: "btn btn-primary"  %>
      <% end %>

    </div>
  </div>
</div>

