<div class="message">
  <% photo = @product.photos.first %>
  <% if photo %>
    <%= cl_image_tag(photo.path, class: "avatar-large") %>
  <% end %>
  <div class="message-body">
    <p><strong><%=@product.category%></strong></p>
    <h6><%=@product.name%></h6>
  </div>
  <div class="message-body">
    <p><strong>Unidade</strong></p>
    <h6><%=@product.unity%></h6>
  </div>
  <div class="message-body">
    <p><strong>Preço</strong></p>
    <h6><%=@product.price%></h6>
  </div>
  <div class="message-body">
    <p><strong><i class="fa fa-cart-arrow-down" aria-hidden="true"></i><p></strong></p>
  </div>
</div>

